.footbar {
    background-color: #0f0e0e;
    width: 100%;
    height: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
} /*background*/

.link-section {
    width: 100%;
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.navbar-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: large;
    font-weight: medium;
}

.logo {
    width: 100%;
    height: auto;
    /* position: relative; */
    align-items: left;
    padding: 0.5%;
}
