.location-card {
    --location-info-space: 2%;
}

.location-card {
    width: 15%; /* add clamp */
    margin: 0px;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    color: black;
}

.location-image-container {
    width: auto;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.location-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.location-info-container {
    width: auto;
    margin: 10px; /* border within golden card*/
}

.location-name {
    font-family: var(--main-header-font);
    font-size: 20px;
    font-weight: bolder;
}

.location-place {
    font-family: var(--main-text-font);
    font-style: italic;
}

.location-description {
    /* padding-top: var(--location-info-space); */
    font-family: var(--main-text-font);
    font-size: 13px;
}

.location-tag-container {
    width: auto;
    display: flex;
    /* padding-top: var(--location-info-space); */
    flex-direction: row;
    justify-content: space-between;
}

.top-locations {
    background: var(--top-locations-color);
}

.recommended-locations {
    background: var(--recommended-locations-color);
}

.viewed-locations {
    background: var(--viewed-locations-color);
}
