/* --------------------- DIV CSS ---------------------------------- */

.hero-underlay {
    position: relative;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    top: clamp(100px, 5%, 400px);
    left: 0;
    /* align-content: center; */
}

.hero-overlay-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.skyline-break {
    align-self: flex-end;
    justify-content: center;
}

.bg-ping {
    /* align-content: right; */
    padding-left: 15%;
    padding-right: 2%;
}

.title-desc {
    padding-top: 2.5%;
    padding-bottom: 0.5%;
    padding-right: 15%;
}

.description {
    padding-right: 10%;
    padding-left: 10%;
}

/* --------------------- HEADER CSS ---------------------------------- */
.hero-title {
    font-family: Advent Pro;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 90px;
    /* align-self: right; */
}

.intro-para {
    font-size: larger;
}

/* --------------------- IMAGE CSS ---------------------------------- */
.skyline {
    width: 100%;
    align-items: center;
    filter: blur(4px);
}

.white-skyline {
    width: 50%;
    height: auto;
    position: relative;
    align-items: center;
    padding: 0.5%;
    image-rendering: pixelated;
}

.mapping {
    height: 120%;
    /* align-items: left; */
}
