@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.location-card {
    width: 15%;
    margin: 0px;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    color: black;
}

.location-image-container {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.location-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.location-name {
    font-family: "Advent Pro", sans-serif;
}

.location-place {
    font-family: "Roboto", sans-serif;
}

.top-locations {
    background: linear-gradient(234.5deg, #ffb800 24.46%, #fff2b3 98.43%);
    /*linear-gradient(234.5deg, #ffb800 24.46%, #fff2b3 98.43%)*/
    /*GRADIENT NOT WORKING*/
}

.recommended-locations {
    background: linear-gradient(234.5deg, #00f0ff 24.46%, #b3fff6 90.56%);
}

.viewed-locations {
    background: linear-gradient(234.5deg, #ff2e00 24.46%, #e793d9 83.87%);
}
