.tag-table-container {
    height: 90vh;
    padding: 2%;
    /*padding-right: 3%;
    padding-left: 3%;*/
    /* padding-bottom: 2%; */
}

.tag-table-wrapper {
    display: grid;
    gap: 5rem;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}
